
/* VARIABLES */

:root {
	--title-text-color: white;
	--title-bg-color: deepskyblue;

	--last-event-text-color: dodgerblue;
	--last-event-bg-color: whitesmoke;
	--last-event-shadow-color: lightgrey;

	--incoming-event-text-color: whitesmoke;
	--incoming-event-bg-color: dodgerblue;
	--incoming-event-shadow-color: royalblue;

	--comite-text-color: dodgerblue;
	--comite-bg-color: whitesmoke;
	--comite-shadow-color: lightgrey;

	--comite-bureau-text-color: whitesmoke;
	--comite-bureau-bg-color: dodgerblue;
	--comite-bureau-shadow-color: royalblue;
}

/* CUSTOM FONTS */

@font-face {
	font-family: "Bebas Neue";
	src: url('../fonts/BebasNeue-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url('../fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "Roboto-Light";
	src: url('../fonts/Roboto-Light.ttf') format("truetype");
}

@font-face {
	font-family: "Roboto-Thin";
	src: url('../fonts/Roboto-Thin.ttf') format("truetype");
}

@font-face {
	font-family: "Big Noodle Titling";
	src: url('../fonts/big_noodle_titling.ttf') format("truetype");
}

@font-face {
	font-family: "ArcaMajora3 Bold";
	src: url('../fonts/ArcaMajora3-Bold.otf') format("opentype");
}

@font-face {
	font-family: "A little sunshine";
	src: url('../fonts/A little sunshine.ttf') format("truetype");
}

@font-face {
	font-family: "DK Lemon Yellow Sun";
	src: url('../fonts/DK Lemon Yellow Sun.otf') format("opentype");
}

@font-face {
	font-family: "Cream Cake";
	src: url('../fonts/Cream Cake.ttf') format("truetype");
}

@font-face {
	font-family: "SUBSCRIBER-Regular";
	src: url('../fonts/SUBSCRIBER-Regular.otf') format("opentype");
}

@font-face {
	font-family: "LEMONMILK-Regular";
	src: url('../fonts/LEMONMILK-Regular.otf') format("opentype");
}

/* HEADER BAR */

.header-bar {
	display: flex;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	height: 2.2vw;;
	top: 0;
	z-index: 1000;
}

.header-bar ul {
	background-color: midnightblue;
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.user-links {
	float: right;
	display: flex;
	align-items: center;
}

.user-links a {
	padding: 10px 15px;
	text-decoration: none;
	text-align: center;
	font-family: "Roboto-Light", sans-serif;
	font-size: 1vw;
	color: white;
}

.user-links-navbar {
	display: none;
}

.cecs-name {
	margin-right: auto;
	padding: 10px 15px;
	text-decoration: none;
	text-align: center;
	font-family: "Roboto-Light", sans-serif;
	font-size: 1vw;
	color: white;
}

@media screen and (max-width: 800px) {
	.header-bar {
		display: none;
	}
}

/* HEADER */

header {
	overflow: auto;
	display: flex;
	justify-content: space-between;
	background-color: var(--title-bg-color);
	z-index: 2;
}

.polygon-left {
	float: left;
	width: 32%;
	background-color: var(--title-text-color);
	-webkit-clip-path: polygon(0 0, 0 600px, 200px 600px, 600px 0);
	clip-path: polygon(0 0, 87% 0, 57% 100%, 0 100%);
}

.polygon-left img {
	float: left;
	width: 100%;
	-webkit-clip-path: polygon(0 0, 0 600px, 200px 600px, 600px 0);
	clip-path: polygon(0 0, 85% 0, 55% 100%, 0 100%);
}

.polygon-right {
	float: right;
	width: 32%;
	background-color: var(--title-text-color);
	-webkit-clip-path: polygon(0 0, 0 600px, 200px 600px, 600px 0);
	clip-path: polygon(43% 0, 100% 0%, 100% 100%, 13% 100%);
}

.polygon-right img {
	float: right;
	width: 100%;
	-webkit-clip-path: polygon(0 0, 0 600px, 200px 600px, 600px 0);
	clip-path: polygon(45% 0, 100% 0%, 100% 100%, 15% 100%);
}

.title {
	margin: auto;
	align-self: center;
	background-color: var(--title-bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.title img {
	width: 8vw;
	height: 8vw;
	padding-right: 20px;
	border-right: 2px solid var(--title-text-color);
}

.title h1 {
	margin-left: 20px;
	font-family: "Big Noodle Titling", sans-serif;
	font-size: 6vw;
	color: var(--title-text-color);
}

@media screen and (max-width: 800px) {
	.polygon-left, .polygon-left img, .polygon-right, .polygon-right img {
		display: none;
	}

	.title img {
		width: 20vw;
		height: 20vw;
	}

	.title h1 {
		margin-left: 20px;
		font-size: 15vw;
	}
}

/* NAVIGATION BAR */

.navbar {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 2.15vw;
	z-index: 1000;
	background-color: whitesmoke;
	border-bottom: 1px solid var(--last-event-shadow-color);
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	padding: 0.7em 1em;
	text-decoration: none;
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.7vw;
	color: black;
}

.navbar li a:hover {
	color: black;
	background-color: lightgrey;
	box-shadow: inset 0 0 3px 1px darkgrey;
}

.active {
	color: whitesmoke !important;
	background-color: dodgerblue !important;
	box-shadow: inset 0 0 3px 1px royalblue;
}

.active:hover {
	color: whitesmoke !important;
	background-color: dodgerblue !important;
	box-shadow: inset 0 0 3px 1px royalblue !important;
}

.dropdown_btn, .navbar h1, .navbar img {
	display: none;
}

@media screen and (max-width: 800px) {
	.navbar {
		display: flex;
		justify-content: space-between;
        align-items: center;
		position: sticky;
		width: 100%;
		height: 10vw;
		top: 0;
	}

	.navbar img {
		display: block;
		height: 8vw;
		width: 8vw;
		margin: 1.5vw;
	}

	.navbar ul {
		display: none;
	}

	.navbar li a {
		font-size: 5vw;
	}

	.user-links-navbar {
		display: block;
	}

	.navbar h1 {
		display: block;
		text-align: center;
		font-family: "Big Noodle Titling", sans-serif;
		font-size: 6vw;
		color: var(--title-bg-color);
	}

	.dropdown_btn {
		display: block;
		margin: 0;
		padding: 0;
		background-color: whitesmoke;
		color: black;
		border: none;
		cursor: pointer;
		align-self: center;
	}

	.dropdown_btn img {
		width: auto;
		height: 5vw;
		padding: 0.5vw;
	}

	.dropdown_btn:hover + ul, .navbar ul:hover {
		position: absolute;
		top: 10vw;
		display: table;
		width: 100%;
	}

	.dropdown_btn:hover + ul li, .navbar ul:hover li {
		display: block;
		width: 100%;
		background-color: whitesmoke;
	}
}

/* CONTENT */

body {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	text-align: center;
}

h2 {
	margin: 0;
	position: relative;
	padding-top: 3vw;
	text-align: center;
	font-family: "LEMONMILK-Regular", sans-serif;
	font-size: 3vw;
}

h2:after {
	content: "";
	position: absolute;
	top: 110%;
	left: 50%;
	width: 100px;
	border-radius: 4px;
	transform: translateX(-50%);
}

h3 {
	left: auto;
	right: auto;
	padding-top: 0.5vw;
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.5vw;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 800px) {
	h2 {
		font-size: 8vw;
		padding-top: 7vw;
	}

	h2:after {
		top: 125%;
	}

	h3 {
		font-size: 8vw;
	}
}

/* LAST EVENT */

.last-event {
	background-color: var(--last-event-bg-color);
	box-shadow: inset 0 10px 10px var(--last-event-shadow-color);
}

.last-event h2 {
	color: var(--last-event-text-color);
	text-shadow: 3px 3px 3px var(--last-event-shadow-color);
}

.last-event h2::after {
	border: 2px solid var(--last-event-text-color);
	box-shadow: 3px 3px 3px var(--last-event-shadow-color);
}

.last-event h3 {
	color: var(--last-event-text-color);
	text-shadow: 3px 3px 3px var(--last-event-shadow-color);
}

@media screen and (max-width: 800px) {
	.last-event {
		padding-bottom: 10vw;
	}
}

/* INCOMING EVENT */

.incoming-event {
	background-color: var(--incoming-event-bg-color);
	box-shadow: inset 0 10px 10px var(--incoming-event-shadow-color);
	padding-bottom: 50px;
}

.incoming-event h2 {
	color: var(--incoming-event-text-color);
	text-shadow: 3px 3px 3px var(--incoming-event-shadow-color);
}

.incoming-event h2::after {
	border: 2px solid var(--incoming-event-text-color);
	box-shadow: 3px 3px 3px var(--incoming-event-shadow-color);
}

.incoming-event h3 {
	color: var(--incoming-event-text-color);
	text-shadow: 3px 3px 3px var(--incoming-event-shadow-color);
}

.incoming-event a {
	display: inline-block;
	color: var(--incoming-event-text-color);
}

.incoming-event img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	border: 2px solid var(--incoming-event-text-color);
	box-shadow: 3px 3px 3px var(--incoming-event-shadow-color);
}

@media screen and (max-width: 800px) {
	.incoming-event {
		padding-bottom: 10vw;
	}

	.incoming-event img {
		max-width: 90vw;
		width: auto;
		height: auto;
	}
}

/* COMITE */

.comite-title {
	background-color: var(--comite-bg-color);
	box-shadow: inset 0 10px 10px var(--comite-shadow-color);
}

.comite-title h2 {
	color: var(--comite-text-color);
	text-shadow: 3px 3px 3px var(--comite-shadow-color);
}

.comite-title h2::after {
	border: 2px solid var(--comite-text-color);
	box-shadow: 3px 3px 3px var(--comite-shadow-color);
}

.comite-title h3 {
	color: var(--comite-text-color);
	text-shadow: 3px 3px 3px var(--comite-shadow-color);
}

.comite-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . .";
	text-align: center;
}

.comite-grid img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10vw;
	height: 10vw;
	border-radius: 10vw;
	margin-top: 2vw;
}

.post-name {
	margin-top: 1vw;
	display: inline-block;
	font-family: "Big Noodle Titling", sans-serif;
	font-size: 2vw;
	text-decoration: none;
	text-align: center;
	color: var(--comite-text-color);
}

.post-name:hover {
	text-decoration: underline;
}

.user {
	margin-top: 0.2vw;
	margin-bottom: 0.5vw;
	display: inline-block;
	font-family: "Roboto-Light", sans-serif;
	font-size: 1.2vw;
	text-decoration: none;
	color: var(--comite-text-color);
}

.user:hover {
	text-decoration: underline;
}

.comite-bureau {
	background-color: var(--comite-bureau-bg-color);
}

.comite-bureau .post-name, .comite-bureau .user {
	color: var(--comite-bureau-text-color) !important;
}

.comite-bureau img {
	border: 0.2vw solid var(--comite-bureau-text-color);
}

@media screen and (max-width: 800px) {
	.comite-grid {
		display: block;
		width: 100%;
	}

	.comite-grid div {
		padding-top: 10vw;
		padding-bottom: 5vw;
	}

	.comite-grid img {
		margin-top: 0;
		margin-bottom: 5vw;
		width: 70vw;
		height: 70vw;
		border-radius: 70vw;
		border: 2vw solid var(--comite-bureau-text-color);
	}

	.post-name {
		font-size: 10vw;
	}

	.user {
		font-size: 5vw;
	}
}

/* REGISTER */

.register-form {
	margin-top: 4vw;
}

.register-text {
	margin-left: 5vw;
	font-family: "Roboto-Light", sans-serif;
	font-size: 1vw;
}

.register-form button {
	margin-top: 2vw;
	margin-left: 5vw;
	margin-bottom: 7vw;
	font-family: "Roboto-Light", sans-serif;
	font-size: 1vw;
}

@media screen and (max-width: 800px) {
	.register-form {
		margin-top: 6vw;
	}

	.register-text {
		font-size: 4vw;
	}

	.register-form button {
		background: #3D94F6;
		background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
		background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
		background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
		background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
		background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		border-radius: 9px;
		color: #FFFFFF;
		font-family: sans-serif;
		font-size: 25px;
		font-weight: 100;
		padding: 20px;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
		text-align: center;
	}
}

/* ACCOUNT */

.account {
	box-shadow: inset 0 10px 10px var(--comite-shadow-color);
	margin-bottom: 100px;
	text-align: left;
}

.account h2 {
	text-shadow: 3px 3px 3px lightgrey;
}

.account div {
	margin-top: 3vw;
	display: flex;
	width: 100%;
}

.account img {
	margin: 3vw 3vw 3vw 4vw;
	width: 15vw;
	height: 15vw;
	border-radius: 15vw;
}

.account .coord {
	display: inline;
	padding-left: 2vw;
	border-left: 3px solid black;
	font-size: 2vw;
	font-family: "Roboto-Light", sans-serif;
	margin-bottom: 2vw;
}

.account .coord h4 {
	font-family: "Roboto-Regular", sans-serif;
}

.account h4 {
	padding-left: 5vw;
	font-size: 1.5vw;
	font-family: "Roboto-Regular", sans-serif;
}

.account p {
	padding-left: 5vw;
	padding-right: 5vw;
	font-size: 1.5vw;
	font-family: "Roboto-Light", sans-serif;
	text-align: justify;
	text-justify: inter-word;
}

@media screen and (max-width: 800px) {
	.account div {
		display: table;
		text-align: center;
		margin: 0;
	}

	.account h4 {
		padding-left: 7vw;
		font-size: 4vw;
	}

	.account p {
		font-size: 4vw;
		padding-left: 7vw;
		padding-right: 7vw;
	}

	.account .coord {
		border: none;
		text-align: left;
		padding: 0;
		margin: 0;
	}

	.account img {
		margin: 3vw;
		width: 50vw;
		height: 50vw;
		border-radius: 50vw;
	}
}

/* POST */

.post {
	box-shadow: inset 0 10px 10px var(--comite-shadow-color);
	margin-bottom: 5vw;
}

.post h2 {
	text-shadow: 3px 3px 3px lightgrey;
	margin-bottom: 5vw;
}

.post p {
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: justify;
	text-justify: inter-word;
	font-size: 1.5vw;
	font-family: Arial, sans-serif;
}

@media screen and (max-width: 800px) {
	.post p {
		font-size: 4vw;
		padding-left: 7vw;
		padding-right: 7vw;
	}
}

/* EVENT */

.event {
	box-shadow: inset 0 10px 10px var(--comite-shadow-color);
	margin-bottom: 5vw;
}

.event h2::after {
	border: 2px solid black;
	box-shadow: 3px 3px 3px grey;
}

.event a {
	color: royalblue;
}

.event a p {
	font-size: 1vw;
}

.event p {
	margin-left: 15vw;
	margin-right: 15vw;
	text-align: justify;
	text-justify: inter-word;
	font-size: 1.5vw;
	font-family: Arial, sans-serif;
}

.event img {
	width: 70vw;
}

/* PHOTOS */

.photos {
	overflow: auto;
	white-space: nowrap;
	padding-bottom: 3vw;
}

.photos img {
	height: 25vw;
	display: inline-block;
}

.album {
	box-shadow: inset 0 10px 10px var(--last-event-shadow-color);
}

@media screen and (max-width: 800px) {
	.photos {
		padding-bottom: 0;
	}

	.photos img {
		max-height: 100vw;
		width: auto;
		height: auto;
	}
}

/* FOOTER */

footer {
	background-color: midnightblue;
	color: white;
	padding: 0.5vw 2vw;
	font-size: 1vw;
	font-family: "Roboto-Light", sans-serif;
	text-align: left;
}

@media screen and (max-width: 800px) {
	footer {
		padding: 0.5vw 4vw;
		font-size: 3vw;
	}
}