
{% extends "main/comite.html" %}
{% load static %}

{% if account %}
    {% block pagename %}{{ block.super }} - {{ account.first_name }} {{ account.last_name }}{% endblock %}
{% endif %}

{% block navbar %}{{ block.super }}{% endblock %}

{% block content %}
    <div class="account">
        {% if account %}
            <h2>{{ account.first_name }} {{ account.last_name }}</h2>
            <div>
                <img src="{{ account.photo.url }}" alt="">
                <div class="coord">
                    <h4>Coordonnées</h4>
                    {% if account.display_email %}
                        <p>Adresse mail : {{ account.email }}</p>
                    {% endif %}
                    {% if account.display_phone_number and account.phone_number %}
                        <p>Numéro de téléphone : {{ account.phone_number }}</p>
                    {% endif %}
                </div>
            </div>
            {% if account.description %}
                <h4>Description</h4>
                <p>{{ account.description }}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}