
{% extends "main/base.html" %}
{% load static %}

{% block pagename %}{{ block.super }} - Archives{% endblock %}

{% block navbar %}
    <ul>
        {% if user.is_authenticated %}
            <li class="user-links-navbar"><a href="{% url 'main:profile' %}">{{ user }}</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:logout' %}">Déconnexion</a></li>
        {% else %}
            <li class="user-links-navbar"><a href="{% url 'main:register' %}">Inscription</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:login' %}">Connexion</a></li>
        {% endif %}
        <li><a href="{% url 'main:index' %}">ACCUEIL</a></li>
        <li><a href="{% url 'main:comite' %}">COMITÉ</a></li>
        <li><a href="{% url 'main:events' %}">ÉVÈNEMENTS</a></li>
        <li><a href="{% url 'main:photo' %}">PHOTOS</a></li>
        <li><a href="{% url 'main:chants' %}">CHANTS</a></li>
        <li><a href="{% url 'main:journals' %}">JOURNAUX</a></li>
        <li><a href="{% url 'main:archives' %}" class="active">ARCHIVES</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if pvs %}
        {% for pv in pvs %}
            <div class="journal">
                <p>{{ pv.name }} ({{ pv.pub_date|date:'d/m/Y' }})</p>
                {% if user.is_member %}
                    <a href="{{ pv.file.url }}" download><img src="{% static "images/download-white.png" %}" alt=""></a>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}