<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>{% block pagename %}CECS ULB{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}"/>
    <script src="{% static "scripts/jquery-3.5.1.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header-bar">
        <ul>
            <li class="cecs-name">Cercle des Etudiants du Centre et Sympathisants</li>
            {% if user.is_authenticated %}
                <li class="user-links"><a href="?">{{ user }}</a></li>
                <li class="user-links"><a href="{% url 'main:logout' %}">Déconnexion</a></li>
            {% else %}
                <li class="user-links"><a href="{% url 'main:register' %}">Inscription</a></li>
                <li class="user-links"><a href="{% url 'main:login' %}">Connexion</a></li>
            {% endif %}
        </ul>
    </div>

    <header>
        <div class="polygon-left">
            <img src="{% static "images/carnaval.jpg" %}" alt="">
        </div>
        <div class="title">
            <img src="{% static "images/logo-white.png" %}" alt="">
            <h1>LE CECS ULB</h1>
        </div>
        <div class="polygon-right">
            <img src="{% static "images/drapeau.png" %}" alt="">
        </div>
    </header>

    <div class="navbar">
        <img src="{% static "images/logo-blue.png" %}" alt="">
        <h1>LE CECS ULB</h1>
        <button class="dropdown_btn"><img src="{% static "images/menu6.png" %}" alt="menu"></button>
        {% block navbar %}
            <ul>
                {% if user.is_authenticated %}
                    <li class="user-links-navbar"><a href="?">{{ user }}</a></li>
                    <li class="user-links-navbar"><a href="{% url 'main:logout' %}">Déconnexion</a></li>
                {% else %}
                    <li class="user-links-navbar"><a href="{% url 'main:register' %}">Inscription</a></li>
                    <li class="user-links-navbar"><a href="{% url 'main:login' %}">Connexion</a></li>
                {% endif %}
                <li><a href="{% url 'main:index' %}">ACCUEIL</a></li>
                <li><a href="{% url 'main:comite' %}">COMITE</a></li>
                <li><a href="?">EVENEMENTS</a></li>
                <li><a href="{% url 'main:photo' %}">PHOTOS</a></li>
                <li><a href="?">CHANTS</a></li>
                <li><a href="?">JOURNAUX</a></li>
                <li><a href="?">ARCHIVES</a></li>
            </ul>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Contact : cecs.ulb@gmail.com</p>
        <p>Site créé par Arthur Pierrot</p>
    </footer>
</body>
</html>