
{% extends "main/base.html" %}
{% load static %}

{% block pagename %}{{ block.super }} - Chants{% endblock %}

{% block navbar %}
    <ul>
        {% if user.is_authenticated %}
            <li class="user-links-navbar"><a href="{% url 'main:profile' %}">{{ user }}</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:logout' %}">Déconnexion</a></li>
        {% else %}
            <li class="user-links-navbar"><a href="{% url 'main:register' %}">Inscription</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:login' %}">Connexion</a></li>
        {% endif %}
        <li><a href="{% url 'main:index' %}">ACCUEIL</a></li>
        <li><a href="{% url 'main:comite' %}">COMITÉ</a></li>
        <li><a href="{% url 'main:events' %}">ÉVÈNEMENTS</a></li>
        <li><a href="{% url 'main:photo' %}">PHOTOS</a></li>
        <li><a href="{% url 'main:chants' %}" class="active">CHANTS</a></li>
        <li><a href="{% url 'main:journals' %}">JOURNAUX</a></li>
        <li><a href="{% url 'main:archives' %}">ARCHIVES</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if chants %}
        <div class="chants">
            {% for chant in chants %}
                <h4>{{ chant.name }}</h4>
                <p>{{ chant.lyrics|linebreaks }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}