
{% extends "main/events.html" %}
{% load static %}

{% if event %}
    {% block pagename %}{{ block.super }} - {{ event.name }}{% endblock %}
{% endif %}

{% block content %}
    <div class="event">
        {% if event %}
            <h2>{{ event.name }}</h2>
            {% if event.end_date %}
                <h3>{{ event.pub_date|date:'d/m/Y'}} - {{ event.end_date|date:'d/m/Y'}}</h3>
            {% else %}
                <h3>{{ event.pub_date|date:'d/m/Y'}}</h3>
            {% endif %}
            <img src="{{ event.affiche.url }}" alt="">
            {% if event.facebook_link %}
                <a href="{{ event.facebook_link }}"><p>Lien Facebook</p></a>
            {% endif %}
            <p>
                {% with description=event.description|linebreaks %}
                    {{description|urlize}}
                {% endwith %}
            </p>
        {% endif %}
    </div>
{% endblock %}