
{% extends "main/base.html" %}
{% load static %}

{% block pagename %}{{ block.super }}{% endblock %}

{% block navbar %}
    <ul>
        {% if user.is_authenticated %}
            <li class="user-links-navbar"><a href="{% url 'main:profile' %}">{{ user }}</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:logout' %}">Déconnexion</a></li>
        {% else %}
            <li class="user-links-navbar"><a href="{% url 'main:register' %}">Inscription</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:login' %}">Connexion</a></li>
        {% endif %}
        <li><a href="{% url 'main:index' %}" class="active">ACCUEIL</a></li>
        <li><a href="{% url 'main:comite' %}">COMITÉ</a></li>
        <li><a href="{% url 'main:events' %}">ÉVÈNEMENTS</a></li>
        <li><a href="{% url 'main:photo' %}">PHOTOS</a></li>
        <li><a href="{% url 'main:chants' %}">CHANTS</a></li>
        <li><a href="{% url 'main:journals' %}">JOURNAUX</a></li>
        <li><a href="{% url 'main:archives' %}">ARCHIVES</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="presentation">
        <h2>Qui sommes-nous ?</h2>
        <p>

        </p>
    </div>

    {% if incoming_event %}
        <div class="incoming-event">
            <h2>Évènement à venir</h2>
            <a href="{% url 'main:event' incoming_event.id %}"><h3>{{ incoming_event.name }}</h3></a>
            <img src="{{ incoming_event.affiche.url }}" alt="">
        </div>
    {% endif %}

    {% if latest_album %}
        <div class="last-event">
            <a href="{% url 'main:album' latest_album.id %}"><h2>{{ latest_album.name }}</h2></a>
            <h3>{{ latest_album.pub_date|date:'d/m/Y'}}</h3>
            <div class="photos">
                {% for photo in latest_album.get_photos %}
                    <img src="{{ photo.image.url }}" alt="">
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}