
{% extends "main/base.html" %}
{% load static %}

{% block pagename %}{{ block.super }} - Journaux{% endblock %}

{% block navbar %}
    <ul>
        {% if user.is_authenticated %}
            <li class="user-links-navbar"><a href="{% url 'main:profile' %}">{{ user }}</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:logout' %}">Déconnexion</a></li>
        {% else %}
            <li class="user-links-navbar"><a href="{% url 'main:register' %}">Inscription</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:login' %}">Connexion</a></li>
        {% endif %}
        <li><a href="{% url 'main:index' %}">ACCUEIL</a></li>
        <li><a href="{% url 'main:comite' %}">COMITÉ</a></li>
        <li><a href="{% url 'main:events' %}">ÉVÈNEMENTS</a></li>
        <li><a href="{% url 'main:photo' %}">PHOTOS</a></li>
        <li><a href="{% url 'main:chants' %}">CHANTS</a></li>
        <li><a href="{% url 'main:journals' %}" class="active">JOURNAUX</a></li>
        <li><a href="{% url 'main:archives' %}">ARCHIVES</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if journals %}
        {% for journal in journals %}
            <div class="journal">
                <p>{{ journal.name }} ({{ journal.pub_date|date:'d/m/Y' }})</p>
                <a href="{{ journal.file.url }}" download><img src="{% static "images/download-white.png" %}" alt=""></a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}