
{% extends "main/base.html" %}
{% load static %}

{% block pagename %}{{ block.super }} - Photos{% endblock %}

{% block navbar %}
    <ul>
        {% if user.is_authenticated %}
            <li class="user-links-navbar"><a href="{% url 'main:profile' %}">{{ user }}</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:logout' %}">Déconnexion</a></li>
        {% else %}
            <li class="user-links-navbar"><a href="{% url 'main:register' %}">Inscription</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:login' %}" class="active">Connexion</a></li>
        {% endif %}
        <li><a href="{% url 'main:index' %}">ACCUEIL</a></li>
        <li><a href="{% url 'main:comite' %}">COMITÉ</a></li>
        <li><a href="?">ÉVÈNEMENTS</a></li>
        <li><a href="{% url 'main:photo' %}" class="active">PHOTOS</a></li>
        <li><a href="{% url 'main:chants' %}">CHANTS</a></li>
        <li><a href="?">JOURNAUX</a></li>
        <li><a href="?">ARCHIVES</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if albums %}
        <div class="albums">
            {% for album in albums %}
                <div class="album">
                    <h2>{{ album.name }}</h2>
                    <h3>{{ album.pub_date|date:'d/m/Y'}}</h3>
                    <div class="photos">
                        {% for photo in album.get_photos %}
                            <img src="{{ photo.image.url }}" alt="">
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}