
{% extends "main/base.html" %}

{% if user.is_authenticated %}
    {% block pagename %}{{ block.super }} - {{ user }}{% endblock %}
{% endif %}

{% block navbar %}
    <ul>
        {% if user.is_authenticated %}
            <li class="user-links-navbar"><a href="{% url 'main:profile' %}">{{ user }}</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:logout' %}">Déconnexion</a></li>
        {% else %}
            <li class="user-links-navbar"><a href="{% url 'main:register' %}">Inscription</a></li>
            <li class="user-links-navbar"><a href="{% url 'main:login' %}" class="active">Connexion</a></li>
        {% endif %}
        <li><a href="{% url 'main:index' %}">ACCUEIL</a></li>
        <li><a href="{% url 'main:comite' %}">COMITÉ</a></li>
        <li><a href="{% url 'main:events' %}">ÉVÈNEMENTS</a></li>
        <li><a href="{% url 'main:photo' %}">PHOTOS</a></li>
        <li><a href="{% url 'main:chants' %}">CHANTS</a></li>
        <li><a href="?">JOURNAUX</a></li>
        <li><a href="?">ARCHIVES</a></li>
    </ul>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h2>{{ user }}</h2>
        <form enctype="multipart/form-data" method="post" class="register-form">
            {% csrf_token %}

            {% for field in profile_form %}
                <p class="register-text">
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <small style="color: gray;">{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
                        <small style="color: red;">{{ error }}</small>
                    {% endfor %}

                    {% if profile_form.non_field_errors %}
                        <div style="color: red;">
                            <p>{{ profile_form.non_field_errors }}</p>
                        </div>
                    {% endif %}
                </p>
            {% endfor %}

            <button type="submit">Enregistrer les modifications</button>
        </form>
    {% endif %}

{% endblock %}